.section-item {
    width: 33.333%;
    margin: 80px 0;
}
.section-item img {
    border-radius: 2px;
}
.section-item h3 {
    font-size: 26px;
    text-align: left;
    padding-top: 12px;
}
.section-item-sub {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 10px 5px;
}
.section-item-sub-icon {
    color: #3fd0d4;
    font-size: 14px;
}